<!--<div (click)="v6taYhendust('53466293')">Kristiine keskus</div>
<div (click)="v6taYhendust('53466294')">Helsinki keskus</div>
<div (click)="v6taYhendust('53466295')">Wallmart keskus</div>
<div (click)="v6taYhendust('53466296')">Prisma peremarket keskus</div>
<div (click)="v6taYhendust('53466297')">Tasku keskus</div>
<div (click)="v6taYhendust('53466298')">Ülemiste keskus</div>
<div (click)="v6taYhendust('53466299')">Lõuna keskus</div> -->

<div *ngFor="let keskuseNimi of keskused" (click)="v6taYhendust(keskuseNimi)">{{keskuseNimi.nimi}} keskus</div> 

<br><br>

<div *ngIf="v2ljakuvatavKontakt !== undefined">
    Nende kontakt on: {{ v2ljakuvatavKontakt.tel }}, {{ v2ljakuvatavKontakt.aadress }}
</div>